* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 50vh;
  --widths: 100%;
}

.testy {
  width: 0%;
}

.slider-container {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-align: center;

}


.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: var(--widths);
  position: absolute;
  top: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 10px;
  left: -1%;
}

@media screen and (max-width: 600px) {
  .slider-container {
    height: 13vh;
  }

  .slides {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .slide-image {
    width: 100%;
    height: 13vh;
    object-fit: contain;
    /* scale: 55%;
     */
    top: 0%;
  }
}

@media screen and (max-width: 900px) {
  .slider-container {
    height: 19vh;
  }

  .slides {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .slide-image {
    width: 100%;
    height: 19vh;
    object-fit: contain;
    /* scale: 55%;
     */
    top: 0%;
  }
}

.prev,
.next {
  color: transparent;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 3rem;
  margin-top: -3rem;
  border-radius: 0px 5px 5px 0px;
}

.slider-container:hover .prev,
.slider-container:hover .next {
  color: black
}

.slider-container:hover .prev:hover,
.slider-container:hover .next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 1%;
  border-radius: 5px 5px 5px 5px;
}

.prev {
  right: 93%;
  border-radius: 5px 5px 5px 5px;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0px 3px;
  background-color: transparent;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  border-radius: 50%;
  display: inline-block;
}

.slider-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* .active-dot {
    background-color: rgba(255, 255, 255, 0.5);
  } */

.slider-container:hover .dot {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-container:hover .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
}

.play-pause {
  color: black;
}

/* Responsive Styles */

/* Mobile Styles */
/* Media query for Galaxy Note 20 and Galaxy Note 20 Ultra */
@media (max-width: 428px) {
  .slide-image {
    /* Update styles for Galaxy Note 20 and Galaxy Note 20 Ultra */
    /* --heights: 15vh; */
    /* Adjust the height as needed */
    /* --widths: 170vh; */
    /* Adjust the width as needed */
    /*scale: 30%;
    top: -30%;*/
  }
}

/* Media query for iPhone 12/13 Pro Max, iPhone SE 2nd gen, and iPhone XR */
@media (max-width: 414px) {
  .slide-image {
    /* Update styles for iPhone 12/13 Pro Max, iPhone SE 2nd gen, and iPhone XR */
    --heights: 50vh;
    /* Adjust the height as needed */
    --widths: 190vh;
    /* Adjust the width as needed */
    /*scale: 28%;
    top: 0%;*/
  }
}

/*
@media screen and (max-width: 390px) {
  .slide-image {
    --heights: 45vh;
    width: 100%;
    scale: 24%;
    top: 0%;
  }
}

@media screen and (max-width: 375px) {
  .slide-image {
    --heights: 20vh;
    --widths: 45vh;
    top: 5%;
  }
}


@media screen and (min-width: 1280px) {
  .slide-image {
    --heights: 45vh;
  }
}

@media screen and (max-width: 480px) {
  .slide-image {
    --heights: 35vh;
    top: 5%;
  }
}

@media screen and (max-width: 540px) {
  .slide-image {
    --heights: 40vh;
  }
}

@media screen and (max-width: 720px) {
  .slide-image {
    --heights: 45vh;
  }
}

@media screen and (max-width: 360px) {
  .slide-image {
    --heights: 45vh;
    --widths: 45vh;
    scale: 22%;
    top: 3%;
  }
}

@media screen and (max-width: 412px) {
  .slide-image {
    --heights: 15vh;
    --widths: 45vh;
    scale: 25%;
    top: 3%;
  }
}

@media screen and (max-height: 926px) {
  .slide-image {
    scale: 23%;
    margin-top: -45px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {

  :root {
    --heights: 15vh;
    --widths: 100%;
  }
  .slide-image {
    scale: 20%;
    top: 12%;
  }
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
  :root {
    --heights: 15vh;
    --widths: 100%;
  }
  .slide-image {
    scale: 20%;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
  :root {
    --heights: 15vh;
    --widths: 100%;
  }
  .slide-image {
    scale: 21%;
  }
}

@media only screen and (max-width: 750px) and (max-height: 667px) {
  :root {
    --heights: 15vh;
    --widths: 100%;
  }
  .slide-image {
    scale: 20%;
  }
}
@media only screen and (max-width: 395px) and (max-height: 750px) {
  :root {
    --heights: 15vh;
    --widths: 100%;
  }
  .slide-image {
    scale: 21%;
  }
}

@media only screen and (max-width: 395px) and (max-height: 756px) {
  :root {
    --heights: 15vh;
    --widths: 100%;
  }
  .slide-image {
    scale: 21%;
  }
}*/