/*----------------------------------------------*/
.imgWaymonterHome {
    width: 150px;
    z-index: 1;

}

.scaltimgmonterHome {
    transform: translate(40%, -80%);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgWaymonterHomeII {
    width: 190px;
    z-index: 1;
    margin-top: -400px;
}

.scaltimgmonterHomeII {
    
    transform: translate(1550px, 170%);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgWaymonterHomeIII {
    width: 130px;
    z-index: 1;
    margin-top: -350px;
}

.scaltimgmonterHomeIII {

    transform: translate(-100%, 100%);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleI {
    width: 50px;
    z-index: 1;
    margin-top: 0px;
}

.scaltimgcircleI {
    
    transform: translate(100%, -400%);
}
.scaltimgcircleII {
    width: 30px;
    transform: translate(1800px, 0px);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleIII {
    width: 200px;
    z-index: 1;
}

.scaltimgcircleIII {
    
    transform: translate(1600px, 170%);
}
/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleIIII {
    width: 50px;
    z-index: 1;
}

.scaltimgcircleIIII {
    
    transform: translate(1550px, 200%);
}
/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleV {
    width: 200px;
    z-index: 1;
}
.scaltimgcircleV {
    
    transform: translate(-120%, 100%);
}
/*----------------------------------------------*/

.imgWaymonterHomeIIIMobile {
    width: 150px;
    z-index: 100;
    margin-top: 0px;
    display: none;
}

.scaltimgmonterHomeIIIMobile {
    /*margin-left: 340%;*/
    transform: translate(600%, 0%);
    display: none;
}

@media (max-width: 480px) {
/*----------------------------------------------*/
.imgWaymonterHome {
    width: 150px;
    z-index: 1;
    display: none;
}

.scaltimgmonterHome {
    transform: translate(40%, -80%);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgWaymonterHomeII {
    width: 190px;
    z-index: 1;
    margin-top: -400px;
    display: none;
}

.scaltimgmonterHomeII {
    
    transform: translate(1550px, 170%);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
/*.imgWaymonterHomeIII {
    width: 150px;
    z-index: 1;
    margin-top: 0px;
    display: block;
}

.scaltimgmonterHomeIII {
    
    transform: translate(-100%, 0%);
}*/

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleI {
    width: 50px;
    z-index: 1;
    margin-top: 0px;
    display: none;
}

.scaltimgcircleI {
    
    transform: translate(100%, -400%);
}
.scaltimgcircleII {
    width: 30px;
    transform: translate(1800px, 0px);
}

/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleIII {
    width: 200px;
    z-index: 1;
    display: none;
}

.scaltimgcircleIII {
    
    transform: translate(1600px, 170%);
}
/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleIIII {
    width: 50px;
    z-index: 1;
    display: none;
}
/*----------------------------------------------*/

/*----------------------------------------------*/
.imgcircleV {
    width: 200px;
    z-index: 1;
    display: none;
}
.scaltimgcircleV {
    
    transform: translate(-120%, 100%);
}
/*----------------------------------------------*/
}

@media only screen and (max-width: 428px) and (max-height: 926px) {
    .imgWaymonterHomeIIIMobile {
        width: 150px;
        z-index: 100;
        margin-top: 0px;
        display: block;
    }
    
    .scaltimgmonterHomeIIIMobile {
        /*margin-left: 340%;*/
        transform: translate(600%, 0%);
        display: block;
    }
  }
/*
@media only screen and (min-width: 428px) {
    .control-promo {
      scale: 100%;
      display: block;
    }
  
    .controlLogo {
      width: 510px;
    }
  
    .topNavBar-linkMB {
      margin-left: -22%;
      scale: 85%;
    }
  }*/